html {
    height: 100%;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.root {
    height: 100%;
    width: 100%;
    background-color: black;
}

.AppWrapper {
    position: relative;

    /* 横幅の指定 */
    width: 55vh;
    max-width: 100%;

    height: 0;

    /* 中央揃え */
    margin: 0 auto;
        
    background-color: black;
}

.App {
    position: relative;

    /* heightの3%下に下げても隠れることはないため */
    top: 3vh;

    left: 0;
    width: 100%;

    /* 横幅との比率を考慮して縦幅を指定 */
    padding-top: 170%;

    background-color: black;
}

.TopWindow {
    position: absolute;
    top: 0;
    left: 0;

    height: 50%;
    width: 100%;
    background-color: black;
}

#BottomWindow {
    position: absolute;
    top: 50%;
    left: 0;

    height: 50%;
    width: 100%;
    background-color: black;
}

.ModalWindow {
    position: absolute;
    top: 55%;
    left: 10%;

    width: 80%;
    height: 40%;

    z-index: 100;
    background-color: burlywood;

    text-align: center;
    border-radius: 10px;

    display: none;
}

.ModalWindow p span{
    display: inline-block;
}

.ModalWindow .title{
    top: 1px;
    font-size: 20px;
    color: darkolivegreen;
    margin: 20px;
}


.ModalWindow .CloseButton{
    position: absolute;
    top: 80%;
    transform: translate(-50%, 0);

    color: rgb(255, 228, 206);
    background-color: rgb(131, 58, 5);
    padding: 5px 10px;
    border-radius: 4px;

    box-shadow: 4px 4px;
}

.ModalWindow .CloseButton:active {
    

    transform: translate(-50%, 0) translate(4px, 4px);
    box-shadow: 0 0;
}



.Screen {
    width: 100%;
    height: 100%;
    background-color: chartreuse;
    background-size: contain;
    background-repeat: no-repeat;
}

.SoundButton {
    display: block;
    float: right;
    background-color: white;
    font-size: 20px;
    width: 20px;
    height: 20px;
    padding: 5px;
    margin: 10px;
    border-radius: 15px;
    box-shadow: 4px 4px;
}

.SoundButton:active{
    transform: translate(4px, 4px);
    box-shadow: 0 0;
}

.ReloadButton {
    display: block;
    float: left;
    background-color: white;
    font-size: 10px;
    line-height: 20px;
    height: 20px;
    padding: 5px;
    margin: 10px;
    border-radius: 15px;
    box-shadow: 4px 4px;
}

.ReloadButton:active{
    transform: translate(4px, 4px);
    box-shadow: 0 0;
}

.Characters{
    width: 100%;
    height: 20%;
    position: absolute;
    bottom: 0;
    display: flex;
    background-color: brown;
}

.Character {
    display: block;
    height: 100%;
    width: 16.667%;
    background-size: contain;
    background-repeat: no-repeat;
}

.Puzzle {
    width: 100%;
    height: 100%;
    background-color: darksalmon;
    display: flex;
    flex-wrap: wrap;
}

.Jewel {
    display: block;
    width: 16%;
    height: 19%;
    background-size: contain;
    margin: 1px
}

#HandingJewel {
    position: absolute;
    display: none;
    z-index: 100;
}

.Fire {
    background-image: url('images/fire.png');
    background-repeat: no-repeat;
}

.Aqua {
    background-image: url('images/aqua.png');
    background-repeat: no-repeat;
}

.Leaf {
    background-image: url('images/leaf.png');
    background-repeat: no-repeat;
}

.Light {
    background-image: url('images/light.png');
    background-repeat: no-repeat;
}

.Dark {
    background-image: url('images/dark.png');
    background-repeat: no-repeat;
}

.Heal {
    background-image: url('images/heal.png');
    background-repeat: no-repeat;
}

.Selected {
    opacity: 0.2;
}

.ComboCounter{
    position: absolute;
    color: white;
    white-space: nowrap;
}